.button-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--grayGreen-color);
  height: 50px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.search-bar:focus-within,
.search-bar:hover {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}

.search-bar input {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: var(--grayGreen-color);
  margin-left: 2px;
}

.search-input:focus {
  outline: none !important;
}

.search-bar button {
  padding-right: 20px;
}

.sort-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0px 20px;
  width: 100%;
  background-color: var(--grayGreen-color);
  height: 50px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  white-space: nowrap;
}

.sort-button button {
  margin: 0 !important;
}

.sort-button-container {
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 2;
  margin-right: 40px;
}

.sort-button-container:hover .sort-button {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 1px solid var(--secondary-color);
}

.sort-button-container:hover .sort-button button {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: var(--secondary-color);
}

.sort-options {
  position: absolute;
  top: 52px;
  z-index: 2;
  background-color: var(--grayGreen-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;
  padding-right: 30px !important;
  width: 100%;
}

.option {
  font-weight: 500;
}

.option:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.sort-button button,
.sort-options,
.search-input {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: var(--primary-color);
  font-size: 16px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 60px;
  flex-wrap: wrap;
}

.post-container {
  max-width: 340px;
  height: 400px;
  position: relative;
  scale: 1;
  transition: all 0.2s ease-in-out;
}

.post-container:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.post-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: var(--secondary-color);
  text-align: left;
  margin-bottom: 0;
  margin-top: 5px;
}

.post-img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  height: 60%;
}

.specific-post-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: bottom;
  border-radius: 5px;
}

.post-text {
  margin: 10px 0 5px 0;
  color: black;
  font-weight: 500;
}

.posts-readmore {
  font-size: 12px;
  color: var(--primary-color);
  margin-top: 5px;
}

.post-info-container {
  display: flex;
  gap: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: var(--primary-color);
}

.post-info-container p {
  margin: 0;
}

.post-all-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.speicific-post-text-container {
  margin-bottom: 0;
}

.specific-button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px;
}

/* -- DESKTOP -- */
@media screen and (min-width: 768px) {
  .button-container {
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 20px;
  }
  .search-bar {
    /* width: 100%; */
    width: 335px;
  }
  .posts-container {
    flex-direction: row;
    margin-bottom: 10px;
    gap: 50px;
    justify-content: start;
    margin-right: 0;
  }
  .post-container {
    width: 350px;
  }
  .specific-post-container {
    max-width: 700px;
    margin: 0 auto;
  }
  .post-h1 {
    max-width: 700px;
    margin: 0 auto;
  }
  .sort-button {
    padding: 0px 20px;
    width: 160px;
  }
  .sort-button-container {
    margin-right: 0 !important;
  }
  .sort-options {
    width: 160px;
    padding: 20px 20px !important;
  }
}
