form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

label {
  font-size: 1.2em;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  font-size: 16px;
}

input,
textarea {
  height: 50px;
  border-radius: 5px;
  border: 0.1px solid var(--secondary-color);
  box-shadow: inset 0 2px 4px 0 rgb(0, 0, 0, 0.1);
  padding: 0 20px;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  font-size: 16px;
  background-color: var(--grayGreen-color);
  margin-left: 2px;
  transition: all 0.2s ease-in-out;
}

input:focus,
textarea:focus {
  outline: var(--secondary-color) solid 1px;
  transition: all 0.2s ease-in-out;
}

input:hover,
textarea:hover {
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

textarea {
  padding: 20px 20px;
  height: 10em;
  resize: none;
}
.cta-message {
  margin-top: 1.5em;
}
.form-error {
  color: #eb0000;
  text-align: left;
  margin: 0;
  display: none;
}

.form-success {
  color: var(--primary-color);
  font-size: 14px;
}

/* -- DESKTOP -- */
@media screen and (min-width: 768px) {
  form {
    width: 400px;
    margin: 0 auto;
  }
  .contact-h1 {
    max-width: 700px;
    margin: 0 auto;
    width: fit-content;
  }
}
