/* ---- FOOTER ---- */

footer {
  padding: 50px 40px;
  background-color: var(--grayGreen-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer .logo-container {
  margin-bottom: 25px;
}

.footer-content {
  max-width: 70rem;
  margin: 0 auto;
}

.footer-text {
  font-size: 18px;
  color: var(--primary-color);
}

.footer-text p {
  margin: 10px 0;
  
}

.footer-text span {
  margin-right: 5px;
}

/* -- DESKTOP -- */
@media screen and (min-width: 768px) {
  footer {
    padding: 50px 50px 40px;
  }
  .footer-text p {
    margin: 10  px 0;
  }
}
