/* ---- INDEX ---- */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/hero.jpeg) no-repeat center center;
  background-size: cover;
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.hero-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: clamp(3rem, 7vw, 10rem);
    margin: 0;
}

.hero-button {
    background-color: white;
    color: var(--secondary-color);
    padding: 15px 30px;
    border-radius: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

/* -- DESKTOP -- */
@media screen and (min-width: 768px) {
  .hero {
    height: calc(100vh - 120px);
  }
}
