/* ---- INDEX ---- */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/hero.jpeg) no-repeat center center;
  background-size: cover;
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}
.hero-text-container {
  position: absolute;
  /* top: 40vh; */
  bottom: 18vh;
}

.hero-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: clamp(2.5rem, 7vw, 10rem);
  margin: 0;
}

.hero-subheading {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: clamp(1.2rem, 2vw, 5rem);
  margin-top: 10px;
}

.hero-button {
  position: absolute;
  /* top: 55vh; */
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
}

.posts-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 60px;
}

.post-container {
  max-width: 350px;
  height: 400px;
  position: relative;
  scale: 1;
  transition: all 0.2s ease-in-out;
}

.post-container:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.post-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: var(--secondary-color);
  text-align: left;
  margin-bottom: 0;
  margin-top: 5px;
}

.post-img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  height: 60%;
}

.post-text {
  margin: 10px 0 5px 0;
  color: black;
  font-weight: 500;
}

.posts-readmore {
  font-size: 12px;
  color: var(--primary-color);
  margin-top: 5px;
}

.post-info-container {
  display: flex;
  gap: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: var(--primary-color);
}

.post-info-container p {
  margin: 0;
}

.post-all-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.carousel {
  margin-bottom: 50px;
}

.carousel-tip {
  display: none;
}

/* -- DESKTOP -- */
@media screen and (min-width: 768px) {
  .hero {
    height: calc(100vh - 120px);
  }
  .hero-button {
    /* top: 65vh; */
  }
  .posts-container {
    flex-direction: row;
    width: fit-content;
    margin-bottom: 10px;
    gap: 40px;
  }
  .carousel {
    overflow-x: scroll;
    padding: 10px;
    margin-bottom: 10px;
  }
  .post-container {
    width: 350px;
  }
  .carousel-tip {
    display: block;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    margin-bottom: 50px;
  }
}
