/* ---- NAV ---- */

nav {
  background-color: white;
  height: 100px;
  padding: 0 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.nav-content-container {
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo-container {
  display: flex;
  align-items: baseline;
  gap: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--primary-color);
  padding-top: 10px;
}

.desktop-menu {
  display: none;
}

.mobile-dropdown {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: calc(100vh - 104px);
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  background-color: #f2f2f2;
  z-index: 1;
}

.hidden {
  display: none;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 20vh;
  padding-left: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.menu-list li {
  width: fit-content;
  margin: 0 auto;
}

.nav-active {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 5px;
}

/* -- DESKTOP SMALL -- */
@media screen and (min-width: 768px) {
  nav {
    height: 120px;
  }
  .logo-container {
    padding-top: 0px;
  }
  .desktop-menu {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
  .menu-list {
    flex-direction: row;
    gap: 40px;
    padding: 0;
  }
}
