/* ---- NAV ---- */

nav {
  background-color: white;
  height: 100px;
  padding: 0 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.nav-content-container {
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo-container {
  display: flex;
  align-items: baseline;
  gap: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--primary-color);
  padding-top: 10px;
}

.desktop-menu {
  display: none;
}

/* -- DESKTOP SMALL -- */
@media screen and (min-width: 768px) {
  nav {
    height: 120px;
  }
  .logo-container {
    padding-top: 0px;
  }
  .desktop-menu {
    display: block;
  }
  .menu-list {
    display: flex;
    gap: 40px;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--primary-color);
  }
  .mobile-menu {
    display: none;
  }
}
