/* ---- UNIVERSAL ---- */

:root {
  --primary-color: #6d6611;
  --secondary-color: #bd5942;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.bold {
  font-weight: 700;
}

.underline {
  border-bottom: 2px solid var(--secondary-color);
}

main {
  background-color: #f2f2f2;
}

section {
  padding: 100px 40px;
  max-width: 70rem;
  margin: 0 auto;
}

h1 {
  font-weight: 500;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 50px;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.post-container {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 20px;
  max-width: 350px;
  height: 300px;
  position: relative;
}

.post-title {
  position: absolute;
    width: 100%;
    background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: var(--secondary-color);
  padding: 25px 0 10px 0;
  margin: 0;
  text-align: center;
  border-radius: 20px 20px 0 0;
}

.post-img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  height: 100%;
}

.post-date {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-family: "Roboto", sans-serif;

  font-size: 18px;
  color: white;
}
