/* ---- UNIVERSAL ---- */

:root {
  --primary-color: #6d6611;
  --secondary-color: #bd5942;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: "Nunito", sans-serif;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

main {
  background-color: white;
}

section {
  padding: 50px 40px 100px 40px;
  max-width: 70rem;
  margin: 0 auto;
}

section button {
  margin: 0 auto;
  display: block;
}

h1 {
  font-weight: 500;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  text-align: left;
  margin-bottom: 40px;
}

.bold {
  font-weight: 700;
}

.underline {
  border-bottom: 2px solid var(--secondary-color);
}

.cta {
  background-color: white;
  color: var(--secondary-color);
  padding: 15px 30px;
  border-radius: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  scale: 1;
  transition: all 0.2s ease-in-out;
}

.cta:hover {
  background-color: var(--secondary-color);
  color: white;
  scale: 1.1;
  transition: all 0.2s ease-in-out;
}

.logo-container {
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding-top: 10px;
}

.logo-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.loading {
  height: 100px;
  padding: 100px calc(50vw - 200px);
  margin-bottom: 200px;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 200px;
}

/* -- DESKTOP -- */
@media screen and (min-width: 768px) {
  .logo-container {
    padding-top: 0px;
  }
}
